.outline-title {
  h1 {
    width: clamp(300px, 50vw, 800px);
    line-height: 0.8;
    text-align: center;
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-size: calc(7px + 15vw);
  }
}
