@import "../../stylesheets/z-index";

.outline-title {
  &-fill,
  &-stroke {
    max-width: 600px;
    line-height: 0.8;
    text-align: center;
  }
  &-fill {
    z-index: z("home-header-fill");
  }
  &-stroke {
    -webkit-text-stroke: 2px white;
    color: transparent;
    z-index: z("home-header-stroke");
  }
}
